{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}">
    
    <header class="masthead">
        <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
            <h1 class="fw-light">Bienvenido</h1>
            </div>
        </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            <h2 class="fw-light">Page Content</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci sint delectus inventore quae, illum consectetur dicta, magni suscipit sit eligendi aliquid nemo natus commodi corporis quasi sapiente magnam. Voluptate incidunt numquam architecto repellat laudantium autem officia sunt exercitationem! Dignissimos voluptatem eaque rerum dolor deleniti sapiente. Ipsam repellendus eaque asperiores recusandae maxime delectus, eos, nulla ducimus totam ipsa deleniti vitae qui dolorum optio accusantium ratione voluptate iste consequuntur rem doloremque doloribus libero soluta? Sed numquam minima ratione mollitia temporibus autem cupiditate laudantium delectus architecto pariatur! Delectus expedita praesentium molestias recusandae sunt, dolorem nostrum eum alias nisi vero, hic dolorum cumque ipsa.</p>
        
        </div>

    </section>


{% endblock %}